:host{
    width: 100%;
}

.plant-detail_container {
    max-height: 100%;
    margin: 20px;
    width: calc( 100% - 40px);

    .mat-mdc-card-image {
        max-height: 300px;
        object-fit: cover;
    }

    .mat-mdc-card-avatar {
        
        background-size: cover;
    }
}