<div class="container__progressbars">
    <svg viewBox="0 0 104 104" xmlns="http://www.w3.org/2000/svg">
      <circle class="bg" cx="52" cy="52" r="40" />
      <circle class="meter-1" cx="52" cy="52" r="40" />
    </svg>
    <fa-icon [icon]="icons.faDroplet" size="lg"></fa-icon>
    <!-- <svg>
      <circle class="bg" cx="57" cy="57" r="52" />
      <circle class="meter-2" cx="57" cy="57" r="52" />
    </svg>
    <svg>
      <circle class="bg" cx="57" cy="57" r="52" />
      <circle class="meter-3" cx="57" cy="57" r="52" />
    </svg> -->
</div>



<!-- 

<div class="container__progressbars">

    <div class="progressbar">
    <svg class="progressbar__svg">
        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-progress shadow-progress"> </circle>
    </svg>
    <span class="progressbar__text"><span class="progressbar-text_icon"><fa-icon [icon]="icons.faDroplet" size="2xl"></fa-icon></span></span>
    </div>

</div>
   -->
