
<div class="plantCards_container flex flex--row-wrapped" >

        <mat-card  *ngFor="let plant of plants$ | async"class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="plantcard_avatar-image" style='background-image:url("{{plant.image}}")'></div>
                <mat-card-title>{{plant.name}}</mat-card-title>
                <mat-card-subtitle>{{plant.species}}</mat-card-subtitle>
                <app-levelindicator [waterLevel]="calculateWaterLevel(plant.lastWatered,plant.growSeasonWateringSchedule)"></app-levelindicator>
            </mat-card-header>
            <img mat-card-image src="{{plant.image}}" alt="Photo of a Shiba Inu">
            
            <mat-card-content>               
                
                <p>
                    <strong>Genus:</strong><br>{{plant.genus}}                
                </p>
                
                <p>
                    <strong>Light Conditions:</strong><br>{{plant.lightConditions}}
                </p>
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="tertiary"><span class="mat-button-wrapper"><fa-icon [icon]="icons.faDroplet"></fa-icon> WATER ME </span></button>
                <button mat-raised-button color="warn"><span class="mat-button-wrapper"><fa-icon [icon]="icons.faTrashCan"></fa-icon></span></button>
            </mat-card-actions>
        </mat-card>
    
       
</div>



