@use "../../styles.scss";
@use "sass:map";
@use '@angular/material' as mat;

:host {
    min-width: 200px;
}
.sidebar_container {
    background-color: mat.get-color-from-palette(styles.$thirsty-work-tertiary,700);
    height: 100%;
    padding: 20px;

    color: #ffffff;

    border-right: mat.get-color-from-palette(styles.$thirsty-work-accent,A400) solid 2px;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    h2 {
        margin-top: 0;
    }

    .navLinks_list {
        flex-grow:1;
        list-style: none;
        padding-left: 0px;
        > * + * {
            margin-top: 10px;
        }
    }

    .Sidebar_user {
        text-align: left;

        > button {
            text-align: center;
        }
    }
}