<div class="sidebar_container">
    <ul class="navLinks_list">
        <li class="navLinks-list_item">
            <a class="navLinks-list-item_link">Add Plant <fa-icon [icon]="icons.faSeedling"></fa-icon></a>
        </li>
        <li class="navLinks-list_item">
            <a class="navLinks-list-item_link">Add A Room <fa-icon [icon]="icons.faPuzzlePiece"></fa-icon></a>
        </li>
    </ul>
    <div class="Sidebar_user">
        <fa-icon size="2x" [icon]="icons.faUserGear"></fa-icon>
    </div>
</div>
