<div class="sidebar_container">
    <div class="sidebar-container_title-wrapper">
        <a routerLink="/"><h2 class="sidebar-container_title">ThirstyWork</h2>
        <span class="sidebar-title_icon"><fa-icon size="lg" [icon]="icons.faDroplet"></fa-icon></span></a>
    </div>
    
    <ul class="navLinks_list">
        <li class="navLinks-list_item">
            <a class="navLinks-list-item_link" mat-raised-button color="secondary">
                <span class="mat-button-wrapper"><span class="icon-button_icon"><fa-icon [icon]="icons.faSeedling"></fa-icon></span> <span class="icon-button_text"> Add New Plant</span></span>
            </a>
        </li>
        <li class="navLinks-list_item">
            
            <a class="navLinks-list-item_link" mat-raised-button color="secondary">                
                <span class="mat-button-wrapper"><span class="icon-button_icon"><fa-icon [icon]="icons.faLocationDot"></fa-icon></span> <span class="icon-button_text"> Add A Room </span></span>
            </a>
        </li>
    </ul>
    <div class="Sidebar_user">
        <a color="secondary" mat-fab disableRipple="true">
            <fa-icon size="lg" [icon]="icons.faUserGear"></fa-icon>
        </a>
        
    </div>
</div>
